<h1>Will you survive?</h1>

<h2>Enter your city and state to see your chances of surviving the zombie apocalypse.</h2>

<form id="search">
	<label for="city">City</label>
	<input type="search" id="city">
	<br>
	<label for="state">State</label>
	<input type="search" id="state">
	<br>
	<input type="submit" value="Search">
</form>