	<button class="search-show"><a href="/">New Search!</a></button>
	<div id="results">
		<p>Your Chance Of Survival: <%= @city.score %> %</p>
		<p>Based on Population: <%= @city.population %> </p>
    <p>+ Useful Stores Nearby: <%= @city.stores %></p>
	</div>

	<div id="asdf"></div>

	<div id="clock"></div>

	<div id="zombies"></div>
	
	<!-- this is the container for the typing effect -->
	<div class="element"></div>

</div>

<div id="building-background"></div>

<div id="building-div">
	<object id="building">
		<embed src="assets/new-building.svg">
	</object>
</div>

<div class="svg-container">
	<object id="map">
		<embed src="assets/new_map.svg">
	</object>
</div>

<div class="share">
	<a id="twitter-sprite" href="https://twitter.com/intent/tweet?button_hashtag=halloween&text=I%20found%20out%20how%20long%20I%20would%20survive%20a%20%23zombie%20%23apocalypse!%20You%20can%20too!"
	  data-url="change to our url"
	  data-size="large"
	  data-count="none">Tweet</a> <a id="fb-sprite" href="">Post</a><br>
	<img src="assets/powered-by-google-on-non-white.png">
</div>