$accentGreen: #b7ff0f;

body {
	background-color: #333;
	color: #FFF;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	margin: 2em auto 0;
	position: relative;
	text-align: center;
	width: 100%;
	z-index: 10;
}

h1 {
	color: white;
	font-size: 2em;
	font-weight: 300;
	text-transform: uppercase;	
}

.element {
	top: 17em;
	left: 20%;
	margin: 0 auto;
	position: absolute;
	font-size: 1.5em;
	text-transform: uppercase;
	width: 60%;
	height: 100px;
	z-index: 30;
}

#map {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: -1;
}

#building {
	position: fixed;
	top: 6px;
	left: 10px;
	z-index: 20;
}

#building-background {
	background-color: #262626;
	height: 40px;
	width: 40px;
	position: fixed;
	top: 132px;
	left: 83px;
}


.share {
	bottom: 3%;
	position: fixed;
	width: 100%;
	a {
		color: rgba(0,0,0,0.0);
		float: left;
	}
	img {
		float:right;
		padding-right: 25px;
	}
}

#twitter-sprite {
	background: url('twitter-sprite.png') 0 0 no-repeat;
	font-size: 1.75em;
	margin-left: 3%;
	&:hover{
		background-position: 0px -34px;
	}
}

#fb-sprite {
	font-size: 2em;
	background: url('fb-sprite.png') 0 0 no-repeat;
	&:hover{
		background-position: 0px -40px;
	}
}

.hidden {
	display: none;
}

.search-hidden, .search-show {
	background-color: #222;
	border: none;
	border-radius: 5px;
	display: none;
	color: #888;
	height: 40px;
	font-size: 1.25em;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-style: italic;
	margin: 15px;
	outline: none;
	text-align: left;
	width: 200px;
	text-align: center;
	&:hover {
		border: 1px solid $accentGreen;
	box-shadow: 0 0 2px $accentGreen;
	color: $accentGreen;	
	}
	a {
		text-decoration: none;
		color: #888;
		
	}
}
	
.search-show {
	display: inline-block;
}
.no-data {
	font-size: 2em;
}

#results {
	height: 100%;
	margin: 100px auto;
	width: 100%;
	
	h1 {
		font-size: 4em;
		color: white;
	}


	#survival-chance {
	margin-bottom: -50px;

		h2 {
			font-size: 2.5em;
			color: #D3D3D3;
			font-weight: lighter;
		}
		span {
			color: $accentGreen;
		}
	}

	#population {
		margin-right: 10px; 
		display: inline-block;
		h4 {
			font-size: 1em;
			color: #D3D3D3;
			font-weight: lighter;
		}
		span {
			font-size: 1em;
			color: $accentGreen;
		}
	}

	#useful-stores {
	margin-left: 10px; 
	display: inline-block;
		h4 {
			font-size: 1em;
			color: #D3D3D3;
			font-weight: lighter;
		}
		span {
			font-size: 1em;
			color: $accentGreen;
		}
	}
}

#zombies {
	display: inline-block;
	h3{
		color: #D3D3D3;
		font-weight: lighter;
		font-size: 1em;
	}
	span{
		color: $accentGreen;
	}
}

#clock {
	display: inline-block;
	h3 {
		color: #D3D3D3;
		font-weight: lighter;
		font-size: 1em;
	}
	span {
		color: $accentGreen;
	}
}

@media all and (max-width:1200px) { 
	#map {
		top: 15%;
	}
	.element {
		top: 14em;
	}
}


@media all and (max-width:1000px) { 
	
	#map {
		top: 50%;
	}

	#results {
		width: 100%;
	}

	#building-background, #building-div {
		display: none;
	}

	.zombie {
		display: none;
	}

	.element {
		top: 12.8em;
	}
}

@media all and (max-width:600px) { 
	#map {
		top: 80%;
	}

	.element {
		top: 21.3em;
		font-size: 1em;
	}

	#results {
		width: 80%;
		margin: 0 auto;
		h1 {
			font-size: 2.4em;
		}
		#survival-chance {
		margin-bottom: -30px;

			h2 {
				font-size: 1.4em;
			}
		}

	}

}

@media all and (max-width:400px) { 

	#map {
		top: 75%;
	}

	.form h1 {
		font-size: 1.5em;
		margin: 5px;
	}

	.element, #clock, #zombies {
		display: none;
	}

	#results {
		width: 80%;
		margin: 0 auto;

		h1 {
			font-size: 2.4em;
		}
		#survival-chance {
		margin-bottom: -47px;
			
			h2 {
				font-size: 1.4em;
			}
			span {
				font-size: 1.4em;
			}
		}
		#population, #useful-stores {
			display: none;
		}
	}
}
