$accentGreen: #b7ff0f;

.form {
	margin: 0 auto;
	text-align: center;
	width: 50%;
}

#search {
	label {
		font-size: 1.5em;
		font-weight: 400;
		padding: 15px;
	}
	input {
		background-color: #000;
		border: 1px solid #FFF;
		color: #FFF;
		font-size: 1em;
		height: 40px;
		margin: 15px;
		outline: none;
		width: 200px;
	}
	input[type=submit]:hover {
		border: 1px solid $accentGreen;
		box-shadow: 0 0 5px $accentGreen;
		color: $accentGreen;	
	}
}