<!DOCTYPE html>
<html>
<head>
  <title>Survival</title>
  <link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<div class="share">
	<h2>Warn your friends!</h2>
	<a class="twitter-share-button" href="https://twitter.com/intent/tweet?button_hashtag=halloween&text=I%20found%20out%20how%20long%20I%20would%20survive%20a%20%23zombie%20%23apocalypse!%20You%20can%20too!"
	  data-url="change to our url"
	  data-size="large"
	  data-count="none">Warn your friends!</a>
</div>

<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places"></script>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

</body>
</html>
