<!DOCTYPE html>
<html prefix="og: http://www.runforyour.life">
<head>
  <title>Run For Your Life - Will you survive the Zombie Apocalypse?</title>
  <meta property="og:title" content="Will you survive the Zombie Apocalypse?" />
  <meta property="og:url" content="http://www.runforyour.life" />
  <meta property="og:description" content="A Zombie Apocalypse prediction calculator." />
  <link href='http://fonts.googleapis.com/css?family=Lato:300,400,300italic' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Nosifer' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places"></script>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

</body>
</html>

